MCP_BIND_HOST=0.0.0.0
MCP_BIND_PORT=8000

OLLAMA_URL=http://mail-ai-agent-ollama-1:11434

POP3_SSL=0
POP3_HOST=mail-ai-agent-mailpit-1
POP3_PORT=1110
POP3_USER=user
POP3_PASS=password

SMTP_SSL=0
SMTP_HOST=mail-ai-agent-mailpit-1
SMTP_PORT=1025
SMTP_USER=user
SMTP_PASS=password