APP_VERSION=0.1.0

# Debug with MCP inspector
# COMPOSE_PROFILES=debug

MCP_INSPECTOR_HOST=127.0.0.1
MCP_INSPECTOR_ORIGINS=http://localhost:6274

MCP_BIND_TRANSPORT=streamable-http
MCP_BIND_HOST=0.0.0.0
MCP_BIND_PORT=8000

OLLAMA_URL=http://mail-ai-agent-ollama-1:11434

POP3_DEBUG=0
POP3_SSL=0
POP3_HOST=email-proxy
POP3_PORT=1110
POP3_USER=pop3_user@example.com
POP3_PASS=pop3_password

TEST_SMTP_HOST=mail-ai-agent-mailpit-1
TEST_SMTP_PORT=1025